.Botnavi{
    position: fixed;
    width: 300px;
    height: 250px;
    z-index: 9;
    bottom: 0px;
    right: 10px;
/*     background-color: red; */
}
.Botnaviul{
    position: absolute;
    right: 5px;
    list-style: none;
    text-align: center;
}
.Botnavili{
    width: 36px;
    height: 36px;
    background-color:white;
    margin-top: 12px;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 1.5px 1.5px 1px #4b4a4a;
}
.fa-qq,.fa-weixin,.fa-qrcode{
    color: black;
    font-size: 1em;
    margin-top: 11px;
    cursor: pointer;
}
.fa-angle-up,.fa-angle-down{
    font-size: 1.3em;
    margin-top: 11px;
    cursor: pointer;
}
.qrcode{
    position: absolute;
    float: left;
    width: 120px;
    height: 120px;
    margin-top: 65px;
    margin-left: 125px;
    border-radius: 8.88px;
    background-color: rgb(245, 241, 241);
    font-size: 5px;
    color: cornflowerblue;
    text-align: center;
    border: 1px solid;
    display: none;
}
.qrcode::after{
    position: absolute;
    width: 0px;
    height: 0px;
    top: 49px;
    left: 120px;
    border:10px solid ;
    content: '';
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: cornflowerblue;
}
.qrcode img{
    width: 90px;
    height: 90px;
    background-color: #000000;
}
