.Bottom{
    width: 1519.2px;
    height: 200px;
    background-color: rgb(0,191,255);
    background:linear-gradient(rgb(0,191,255),#009eff);
    border-top:solid 1px ;
    border-color:#90949c;
    position: relative;
    float: left;
    margin: 0px auto;
    overflow: hidden;
    opacity: 0.8;
}
.Info{
    width: 1119.2px;
    height: 200px;
}
.Infoborder{
    float: left;
    width: 1117.2px;
    height: 50px;
    margin-top: 40px;
    border-style: dashed;
    border-width: 1px;
    font-family: "Times New Roman",Georgia,Serif;
}
.Infoborder-mation{
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}
.Information{
    float: left;
    font-family: "Times New Roman",Georgia,Serif;
}
.Information-s{
    margin-top: 10px;
    opacity: 1;
}
.Information-sh{
    opacity: 0.6;
}
.bubble{
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
    box-sizing: border-box;
    box-shadow:3.5px 5px 8px rgb(88, 88, 88) inset;
    border-radius: 50%;
    position: absolute;
    margin-top: 300px;
    bottom: 0.4%;
    background: linear-gradient(180deg,rgb(222, 247, 255) 38%,rgb(183, 237, 255) 60% ,#87cefa );
    animation: bubble 3s ease-in-out;
    opacity: 0.5;
    z-index: 0;
  }
  @keyframes bubble{
    from{bottom:0.4%}
    to{bottom:90%}
  }