.Logo{
    width: 48px;
    height: 48px;
    float: left;
    margin-left: 250px;
    margin-top: 6.5px;
}
.Logo a{
    width: 48px;
    height: 48px;
    display: block;
    color: black;
    padding: 0;
    border-radius: 50%;
}