.Top{
    width: 1535.5px;
    height: 30px;
    background-color: #24292e;
}
.Top i{
    float: left;
    color: orange;
    margin-top: 6px;
    margin-left: 300px;
}
.Top span{
    float: left;
    color: azure;
    margin-top: 5.5px;
    margin-left: 10px;
    font-size: small;
}