.Top{
    width: 1519.2px;
    height: 30px;
    background-color: #24292e;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 4;
}
.Top i{
    float: left;
    color: orange;
    margin-top: 6px;
    margin-left: 300px;
}
.Top span{
    float: left;
    color: azure;
    margin-top: 5.5px;
    margin-left: 10px;
    font-size: small;
}
#Time{
    float: left;
    margin-top: 5.5px;
    margin-left: 640px;
    width: 300px;
    color: azure;
    font-size: small;
}