.Left{
    float: left;
    width: 200px;
    height:1200px;
    background-color: rgb(255, 199, 209);
}
.Avater{
    display: block;
    width: 125px;
    height: 125px;
    background-color: orange;
    margin-top: 30px;
    border-radius: 50%;
}
.Avater img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.Information{
    width: 150px;
    height: 450px;
    background-color:orange ;
    margin-top: 20px;
}