@import "Logo.css";
/* @import "More.css"; */
.Navi{
    width: 1535.5px;
    height: 60px;
    background-color: rgb(242, 242, 235);
}
.Navi ul{
    list-style-type: none;
    background-color: aquamarine;
    width: 650px;
    height: 60px;
    padding-left: 1px;
    margin-left: 400px;
    border-radius: 15px;
}
.Navi li{
    margin-top: 20px;
    display: inline-block;
}
.Navi li a{
    font-size: 17px;
    font-style: inherit;
    color: black;
    padding:20px 10px 20px 10px;
    text-decoration: none;
}
.Search{
    position: absolute;
    top: 60.6px;
    left: 1200px;
    transform: translate(-50%,-50%);
    background-color: #2f3640;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
}
.Search:hover>.Search-txt{
    width: 200px;
    padding: 0 6px;
    /* transform: rotate(360deg);
    user-select: none; */
}
.Search:hover>.Search-btn{
    background-color: white;
}
.Search-btn{
    text-decoration: none;
    color: red;
    float: right;
    width: 30px;
    height: 30px;
    border-radius:50% ;
    background: #2f3640;
    display: flex;
    justify-content:center ;
    align-items: center;
    cursor: pointer;
}
.Search-txt{
    
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.5s;
    line-height: 30px;
    width: 0px;
}